.splash {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    z-index: 9999;
    background-color: #000000;
    max-width: 100vw;
    max-height: 100vh;
    box-sizing: content-box;
    margin: 0;

  }
  
  .hide {
    display: none;
  }
  .loadingText {
    font-size: 5rem;
    font-weight: bold;
    color: #737373;
    animation: fade 6s ease-in-out infinite;
    font-family: fantasy;
  }
  
  @keyframes fade {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  